* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;

}


p {
    margin-bottom: 16px;
    
}

header {
    padding-top: 10px;
    background-color: #000000; 
    height: 70px;
    color: #ffffff;
    
}

header h1 {
    float: left;
    font-family:"helvetica";
    font-size: 35px;
    font-weight: 500;
    padding: 10px; 
}

header nav {
    margin-top: 16px;
    float:right;
    
}
    
header a {
    color: #ffffff; 
    font-family: "helvetica";
    margin-right: 20px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #d514ab;
}

header a:active {
    text-decoration: underline;
}

header a: focus{}

}

header h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}

    
    
article { 
    clear: both;
    padding: 0 10px 0 10px
}

article h1 {
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
      
}

figure {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
    width: 550px} 
}

footer {padding: 0 10px 0 10px
}
    
